:host {
    margin: auto;
    text-align: center;
  }
  button {
    background-color: #fdbe35;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 11cm;
    width: 40%;
  }
  .right {
    position: absolute;
    right: 0px;
    padding: 10px;
  }
  ul {
    list-style-type: none;
    background-color: #dadada;
  }
  li {
    color: rgb(116, 66, 66);
  }
  h1 {
    color: azure;
    background-color: rgb(160, 49, 72);
  }
  h2 {
    color: azure;
    background-color: rgb(160, 49, 72);
  }
  