:host {
  text-align: center;
  position: absolute;
  background-color: rgb(160, 49, 72);
  width: 90%;
}
p {
  color: rgb(255, 241, 204);
}
button {
  color: white;
}
ul {
  background-color: #c9c7c7;
}
h1 {
  color: azure;
}
h2 {
  color: azure;
}
.progress {
  text-align: center;
  margin: auto;
  width: 50%;
}
.favorit {
  background-color: #fdbe35;
  color: white;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  right: 0px;
  padding: 10px;
}
.list {
  background-color: #c9c7c7;
  text-align: center;
}
.item {
  color: rgb(85, 32, 41);
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  margin: auto;
}
.scroll {
  height: 200px;
  width: 50%;
  margin:auto;
}